.logo .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.logo .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
