/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 91vh;
    background :url(https://drive.google.com/file/d/1kIXet93BW_FFFyjT1WTjOA5kmL_LdO8O/view?usp=sharing) top center no-repeat;
    background-size: cover;
    
  }
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
  }
  .hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  .hero .btn-get-started {
    margin-top: 30px; 
    line-height: .5;
    padding: 15px 40px;
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    border: none;
}
.btn-get-started:hover{
    background:linear-gradient(118deg, rgba(65,84,241,1) 0%, rgba(25,25,145,1) 100%);
}
  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  .hero .hero-img {
    text-align: right;
  }
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
    .hero .hero-img img {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 32px;
    }
    .hero h2 {
      font-size: 24px;
    }
    .hero .hero-img img {
      width: 100%;
    }

  }
  .form-block{
      padding: 80px;
  }
  .form-check-input{
      margin-right: .5rem;
      
  }
  



/* .has-bg-img {
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}

.has-bg-Gradient {
    position: absolute;
    width: 1903px;
    height: 979px;
    left: 0px;
    top: 0px;
    background: linear-gradient(181.04deg, rgba(2, 139, 134, 0.69) 27.79%, rgba(36, 114, 109, 0.67) 68.16%, #000000 103.47%);
}

.Bg {
    position: absolute;
    width: 476px;
    height: 615px;
    left: 201px;
    top: 180px;
    background: #FCFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    
    border-radius: 37px;
   
   
   
}
.loginParentDiv{
    padding: 50px;
}

.loginParentDiv .form {
    margin-top: 200px;
    
}
.logo{
position: absolute;
left: 120px;
top:50px;
cursor: pointer;
}
.title{
    position: absolute;
width: 91px;
height: 42px;
left: 180px;
top: 130px;

font-family: Roboto;
font-style: normal;

font-size: 28px;
line-height: 42px;
text-align: center;

color: #047C89;
}
.form{
font-family: Roboto;
font-style: normal;
line-height: 32px;
color: #047C89;
} */